.pokebase {
    width: 100%;
    min-height: 100vh;
}
.pokebase__header {
    background-color: #ffffff;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .25);
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .25);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 12px 16px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.pokebase__header__logo {
    width: 50px;
    height: 50px;
}
.pokebase__main-container {
    margin-top: 100px;
}
.pokebase-link {
    margin: 10px;
    text-decoration: none;
}
.pokebase-card {
    border: 1px solid #ccc;
    padding: 0;
    border-radius: 15px;
    margin: 10px;
}
.pokebase-card:hover {
    opacity: 0.6;
}
.pokemon-area {
    min-height: 80vh;
}
.pokemon-image-area {
    height: 350px;
    display: flex;
    padding: 10px;
}
.pokemon-image-area.small {
    height: 200px;
}
.pokemon-image {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 48px 0;
    width: 80%;
}
.pokemon-image__small {
    width: 100px;
    height: 100px;
}
.pokemon-name {
    background-color: #000;
    color: #fff;
    padding: 10px;
}
.element {
    border-radius: 10px;
    padding: 0;
    border: 1px solid #ccc;
    margin-bottom: 15px !important;
}
.element-evolution {
    border-radius: 10px;
    padding: 0;
    border: 1px solid #ccc;
    margin-top: 15px !important;
}
.element-title {
    background-color: #000;
    color: #fff;
    padding: 10px;
}
.element-content {
    padding: 10px;
}
.evolution-area {
    overflow: scroll;
}
.evolution-list {
    display: flex;
    padding: 10px;
}
.pokemon-area__centered {
    min-height: 80vh;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}